################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task1Graphics
/Task3Graphics/.vs/Task3Graphics/v15
/Task3Graphics/Task3Graphics/bin/Debug
/Task3Graphics/Task3Graphics/obj/Debug
